<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="asl_SyncLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="asl_SyncLibrary.Properties.Settings.MySQLWS" connectionString="server= buy.alta.com; username= syncron; password= debut-drift-dream; Convert Zero Datetime= True; Pooling=False;" />
        <add name="asl_SyncLibrary.Properties.Settings.Axess" connectionString="Data Source =(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.34.241.12)(PORT = 1521))) (CONNECT_DATA =(SERVICE_NAME = AX10G) ) ); User Id= cwc; Password= cwc;Convert Zero Datetime=True; " />
        <add name="asl_SyncLibrary.Properties.Settings.Mirror" connectionString="server= axess.alta.com; username= root; password= AxA1tA!38;Convert Zero Datetime=True;" />
        <add name="asl_SyncLibrary.Properties.Settings.MCReciprocity"
            connectionString="Data Source=184.106.144.107; user= altaadmin; password= 0VM6f58k;"
            providerName="System.Data.SqlClient" />
        <add name="asl_SyncLibrary.Properties.Settings.SRConnection"
            connectionString="Data Source=altajava\srsql;Initial Catalog=SR.DB;Integrated Security=True" />
        <add name="asl_SyncLibrary.Properties.Settings.MySQLDW" connectionString="server=web-database.alta.com;username=keyhole;password=MightyM0use;Convert Zero Datetime=True;" />
        <add name="asl_SyncLibrary.Properties.Settings.AsgardRW" connectionString="server= asgard.alta.com; username=heimdall; password= ragnarok;Convert Zero Datetime=True;" />
        <add name="asl_SyncLibrary.Properties.Settings.AsgardRO" connectionString="server= asgard.alta.com; username=amora; password= rainbow;Convert Zero Datetime=True;" />
        <add name="asl_SyncLibrary.Properties.Settings.AsgardDebug" connectionString="server= asgard.alta.com; username=loki; password=S3rpent!;Convert Zero Datetime=True;" />
    </connectionStrings>
    <applicationSettings>
        <asl_SyncLibrary.Properties.Settings>
            <setting name="LiftopiaMTC_URL" serializeAs="String">
                <value>https://extranet.liftopia.com/x/reports/passholders.php</value>
            </setting>
            <setting name="LiftopiaMTC_Key" serializeAs="String">
                <value>F88E77D3D9B18A6F3E8ABC4D42929&amp;</value>
            </setting>
            <setting name="LiftopiaMTC_ID" serializeAs="String">
                <value>801001</value>
            </setting>
            <setting name="LiftopiaMTC_Data_File" serializeAs="String">
                <value>MTCGUESTS</value>
            </setting>
            <setting name="LiftopiaMTC_Path" serializeAs="String">
                <value>\\taskman\c$\acctg\winscp\data\mtcguests.csv</value>
            </setting>
            <setting name="Axess_WTPSI" serializeAs="String">
                <value>http://cwc.teamaxess.com:16302/axis_705/services/WTPSInterface?wsdl</value>
            </setting>
            <setting name="Axess_WTPSI_AddOn" serializeAs="String">
                <value>http://cwc.teamaxess.com:16302/axis_705/services/WTPSIAddOn?wsdl</value>
            </setting>
            <setting name="Axess_WTPSI_User" serializeAs="String">
                <value>alta120</value>
            </setting>
            <setting name="Axess_WTPSI_Password" serializeAs="String">
                <value>alta</value>
            </setting>
            <setting name="Axess_DCI4CRM" serializeAs="String">
                <value>http://cwc.teamaxess.com:16302/axis_705/services/DCI4CRM?wsdl</value>
            </setting>
            <setting name="Axess_DCI4CRM_User" serializeAs="String">
                <value>POS</value>
            </setting>
            <setting name="Axess_DCI4CRM_Password" serializeAs="String">
                <value>705</value>
            </setting>
            <setting name="Axess_Alta_Project_No" serializeAs="String">
                <value>705</value>
            </setting>
            <setting name="SeasonStart" serializeAs="String">
                <value>2018-06-01</value>
            </setting>
            <setting name="SeasonEnd" serializeAs="String">
                <value>2019-05-30</value>
            </setting>
            <setting name="SyncTempDir" serializeAs="String">
                <value>\\taskman\c$\acctg\temp</value>
            </setting>
            <setting name="SyncDataDir" serializeAs="String">
                <value>\\alta.com\namespace\APPS\fpdata\altaax</value>
            </setting>
            <setting name="SyncExtDir" serializeAs="String">
                <value>\\alta.com\namespace\APPS\fpdata\extsync</value>
            </setting>
            <setting name="SyncUTADir" serializeAs="String">
                <value>\\alta.com\namespace\APPS\FPData\extsync\uta</value>
            </setting>
            <setting name="SyncSharedDir" serializeAs="String">
                <value>\\alta.com\namespace\APPS\fpdata\shared</value>
            </setting>
            <setting name="DefaultBirthdate" serializeAs="String">
                <value>1969-12-31</value>
            </setting>
            <setting name="YearStart" serializeAs="String">
                <value>2018-07-01</value>
            </setting>
            <setting name="YearEnd" serializeAs="String">
                <value>2019-05-31</value>
            </setting>
            <setting name="TestFlag" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="UTAEnd" serializeAs="String">
                <value>2019-05-02</value>
            </setting>
            <setting name="MtnColEnd" serializeAs="String">
                <value>2019-05-31</value>
            </setting>
            <setting name="WBEnd" serializeAs="String">
                <value>2019-05-31</value>
            </setting>
            <setting name="BPEnd" serializeAs="String">
                <value>2019-05-31</value>
            </setting>
            <setting name="NewFLD" serializeAs="String">
                <value />
            </setting>
            <setting name="UPClist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPSPCards" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UPCClink" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPRestAcct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPRemSales" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPPOEReads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPChrgs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPAR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPAXChk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeDiff" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Season" serializeAs="String">
                <value>2018-19</value>
            </setting>
            <setting name="SMTPHost" serializeAs="String">
                <value>relay.alta.com</value>
            </setting>
            <setting name="SMTPUnlockCode" serializeAs="String">
                <value>MCRMGHMAILQ_0k3bQcWFnR9u</value>
            </setting>
            <setting name="SMTPObject" serializeAs="String">
                <value>Chilkat.Email2</value>
            </setting>
            <setting name="WasatchBenefits" serializeAs="String">
                <value>snowbird,=20;deer valley,=30;solitude,=40</value>
            </setting>
            <setting name="SyncFTPDir" serializeAs="String">
                <value>\\taskman\c$\acctg\winscp\data</value>
            </setting>
            <setting name="MaxUse_MC" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="MaxUse_MS" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="MaxUse_WB" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxUse_BP" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxUse_OS" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="LiftopiaAlta_Data_File" serializeAs="String">
                <value>AltaGuests</value>
            </setting>
            <setting name="LiftopiaAlta_URL" serializeAs="String">
                <value>https://www.liftopia.com/x/reports/guests.php?PartnerId=141&amp;ApiKey=6EF2313B4B6D6A2BFFF24BDB83662&amp;v=2</value>
            </setting>
            <setting name="UTABulkEmail" serializeAs="String">
                <value>efcbulkimport@rideuta.com</value>
            </setting>
            <setting name="EmailFromAddress" serializeAs="String">
                <value>darylb@alta.com</value>
            </setting>
            <setting name="UTABegin" serializeAs="String">
                <value>2018-11-01</value>
            </setting>
            <setting name="TempErrLog" serializeAs="String">
                <value>\\taskman\c$\acctg\temp\ErrLog.CSV</value>
            </setting>
            <setting name="ITFileCopyFolder" serializeAs="String">
                <value>\\alta.com\namespace\public\_IT\Alta Created CSV Files\</value>
            </setting>
            <setting name="Axess_OBI4POS" serializeAs="String">
                <value>http://cwc.teamaxess.com:16351/OBI4POS/</value>
            </setting>
            <setting name="Axess_DCI4WTP" serializeAs="String">
                <value>http://wtpsi.teamaxess.com:16351/DCI4WTP/DCI4WTPService.svc?wsdl</value>
            </setting>
            <setting name="Axess_POS_SYNC" serializeAs="String">
                <value>http://cwc.teamaxess.com:16351/DCI4Synchronisation/DCI4SynchronisationService.svc?</value>
            </setting>
            <setting name="SharedDataFolder" serializeAs="String">
                <value>\\taskman\c$\acctg\winscp\data\</value>
            </setting>
        </asl_SyncLibrary.Properties.Settings>
    </applicationSettings>
</configuration>